
.navCont {
    background-color: #222;
    border-top: 1px var(--colorGreen) solid;
    padding: 5px;
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    position: fixed;
    bottom: 0;
    z-index: 11;
    justify-content: space-around;
}

.btnStyle {
    width: 20%;
    text-align: center;
    background-color: var(--colorWhite);
    color: var(--colorBlue);
    padding: 1%;
    border-radius: 15px;
}

.btnContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width:1024px) {
    .navCont {
        position: relative;
        top: 0px;
        border: none;
        justify-content: center;
    }
    .btnStyle {
        background: none;
        color: white;
        width: fit-content;
        margin: 0px 50px;
    }
    .btnStyle img {
        filter:invert();
    }

    .btnContainer+.btnContainer::before {
        content: "|";
    }
}

.btnStyle:hover {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}

